@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .carousel-button {
    @apply z-10 bg-transparent text-white transition delay-150 ease-linear hover:border-none hover:bg-white hover:text-black focus:outline-none;
  }
  .carousel-mask {
    background: rgb(0, 36, 17);
    background: linear-gradient(
      67deg,
      rgba(0, 36, 17, 0.8897934173669468) 34%,
      rgba(18, 18, 24, 0.3519782913165266) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  .carousel-mask-hover {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .title {
    @apply text-9xl;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
